/* CSS by RJ Danforth */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.sr-only{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.sr-only:focus{
  position: static;
  width: auto;
  height: auto;
}

/* ///ADD/// Navigation Styles */
nav ul{
  display: none;
}

nav label{
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  display: block;
  width: 95%;
  padding: 0.5rem;
  text-align: center;
  margin-top: 0.25rem;
}
/* ///ADD/// Global Layout Styles */
main > p{
  padding: 0.5rem;
}

main > h2, main > section > h2{
  padding: 0.5rem 0 0 0.5rem;
}

header, footer{
  display: block;
  background-color: var(--blue-bulletin);
  padding: 1rem;
}

form{
  background-color: var(--news-flash);
  padding: 1rem;
  width: 90%;
  margin: 1rem auto;
}

input[type=text], input[type=tel], form > label{
  display: block;
  margin: 0.5rem;
}

fieldset{
  width: fit-content;
  padding: 1rem;
  border: 1px var(--blue-bulletin) solid;
}

#breakingNews{
  display: grid;
  grid-template-columns: 1fr ;
}

#breakingNews h2{
  grid-column: -1 / 1;
}

#breakingNews section{
  background-color: var(--news-flash);
  padding: 1rem;
  margin: 1rem;
  filter: drop-shadow(var(--shadow));
}

#breakingNews section p{
  padding: 1rem 0;
}

input[type=submit]{
  display: block;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  border: none;
  padding: 0.5rem;
  text-align: center;
  margin: 1rem auto 0 auto;
  width: 95%;
}

#articles{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

#articles h2{
  grid-column: -1 / 1;
}

#articles section{
  border: 2px var(--blue-bulletin) solid;
  padding: 1rem;
  margin: 0.5rem;
  filter: drop-shadow(var(--shadow));
}

#articles p{
  padding: 0.5rem 0.5rem 0 0.5rem;
}

#articles h3{
  padding-bottom: 0.5rem;
  border-bottom: var(--blue-bulletin) solid 2px;
}

footer a{
  margin: 1rem auto;
}

/* ///ADD/// Global Text Styles */
h1, h2, h3{
  font-family: var(--font-heading);
}

h1{font-size: 1.5rem;}
h2{font-size: 1.3rem;}
h3{font-size: 1.15rem;}

p, a, small, blockquote, label, legend{
  font-family: var(--font-body);
}

small{
  display: block;
  text-align: center;
}

a{
  display: inline-block;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  padding: 0.5rem;
  text-decoration: none;
  margin: 0.2rem;
}

input, label, legend, h1, header > p, #breakingNews h3, #breakingNews p, small, footer h2{
  color: var(--watchdog-white);
}

/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {
  #breakingNews, #articles{
    grid-template-columns: 1fr 1fr;
  }

  nav label{
    display: none;
  }

  nav ul{
    display: flex;
  }
}

/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {
  #articles{
    grid-template-columns: repeat(3, 1fr) ;
  }
}

/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px) {
  #articles{
    grid-template-columns: repeat(4, 1fr) ;
  }
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark){
  body{
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }
}
@media (prefers-color-scheme: light){
  body{
    background-color: var(--watchdog-white);
    color: var(--truth-text);
  }
}
@media (prefers-reduced-motion: reduce){
  nav ul{
    animation: 3s ease-in 1s 2 reverse both paused slide-in;
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@media screen and (max-width: 620px) {
  @supports (selector(:has(*))) {
    header:has(#menu-toggle:checked){
      nav{
        ul{
          display: grid;
          grid-template-columns: 1fr;
        }
        a{
          width: 95%;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }  
}
